.letter {
  color: white;
  font-size: 2.8rem;
  text-align: center;
}

.border.border-success {
  border-color: #30dd00 !important;
  border-width: 5px !important;
}

.word-letters {
  color: white;
  font-size: 7rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  span.word {
    display: flex;
    justify-content: flex-end;
  }
}

.listen-icon {
  padding: 20px;
  font-size: 7rem;
}

.listen-desc {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.actions {
  display: flex;
  margin-top: 7rem;

  .listen-word {
    flex-grow: 1;
  }

  .options {
    flex-grow: 1;
    display: flex;
    text-align: left;
    flex-direction: column;

    button {
      padding: 5px 0;
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
  }
}

.consonant {
  background: #d2234c;
}

.vowel {
  background: #4545cc;
}

.consonant-ltr {
  color: #d2234c !important;
}

.vowel-ltr {
  color: #4545cc !important;
}

.wrong {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .letter {
    font-size: 2rem;
  }

  .drop-zone-wrapper {
    height: 110px;
    width: 110px;
    background: rgba(255,255,255,.7);
  }

  .drop-zone {
    line-height: 0.6;
    text-align: center;
    font-size: 80px;
  }

  .word-guess {
    color: white;
    font-size: 70px !important;
    font-weight: 700;
  }
}

.remove {
  text-align: center;
  font-size: 20px !important;
}

.example-container {
  width: 7rem;
  height: 7rem;
  display: inline-block;
  vertical-align: middle;
}

.example-list {
  height: 120px;
  border-radius: 15px;
  overflow: hidden;
  display: block;
  background: rgba(255,255,255,.7);
}

.example-box {
  padding: 35px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: url('/assets/images/delete.cur'), auto;
  font-size: 7rem;
}

.cdk-drag-placeholder {
  opacity: 0;
  display: none;
}

.used {
  cursor: not-allowed;
  background: #eee;
}

.is-vowel {
  color: white !important;
  background: #4545cc !important;
}

.is-consonant {
  color: white !important;
  background: #d2234c !important;
}
