.overlay {
  background-color: rgb(0,0,0, .7);
}

.text-container {
  width: 80%;
  line-height: 2;
  font-size: 32px;
  margin-left: 10%;
  font-weight: bold;
  min-height: 200px;
  border-radius: 10px;
  background: rgb(226,226,226);
}

@media screen and (max-width: 1024px) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}
