<div class="container mt-3">
  <div class="image-holder">
    <mat-card>
      <img [src]="'/assets/images/stories/' + storyImage" mat-card-image />
      <mat-card-actions>
        <button mat-raised-button color="accent" class="w-100 fs-4 p-2" (click)="listen(story)">
          <i class="fas fa-volume-up"></i>&nbsp;Слушни
        </button>
      </mat-card-actions>
    </mat-card>

  </div>

  <div class="description-holder mt-3">
    <div class="description">
      <span *ngFor="let word of descriptionWords" (click)="checkIfWrong(word)" [ngClass]="word.isWronglySelected ? 'wrong-selection' : ''" [class.wrong]="word.isChecked && word.isWrong">{{word.word}}</span>
    </div>
  </div>

  <div class="options-holder"></div>
</div>

<div class="options-holder mt-5">
  <button mat-raised-button color="accent" class="fs-4 p-2" (click)="showWrongWord()" [disabled]="isCorrect">
    Помош&nbsp;<i class="fas fa-question"></i>
  </button>
  <button mat-raised-button color="accent" class="fs-4 p-2" (click)="next()" [hidden]="hideNext" [disabled]="!isCorrect">
    Следно&nbsp;<i class="fas fa-arrow-right"></i>
  </button>
  <button [hidden]="!hideNext" mat-raised-button color="accent" (click)="finish()" [disabled]="!isCorrect">
    Заврши&nbsp;<i class="fas fa-check"></i>
  </button>
</div>

<congratulations *ngIf="showSuccess"></congratulations>
