.letter {
  color: white;
  font-size: 2.8rem;
  text-align: center;
}
.consonant {
  background: #d2234c;
}

.vowel {
  background: #4545cc;
}

.consonant-ltr {
  color: #d2234c !important;
}

.vowel-ltr {
  color: #4545cc !important;
}
