<div class="br-container"></div>

<div class="container mt-3">
  <div class="word-image">
    <div class="image-holder">
      <mat-card style="width: 350px; background: rgba(255,255,255, .7);">
        <img [src]="'/assets/images/letters/' + imageSrc" mat-card-image />
        <mat-card-actions>
          <button mat-raised-button color="accent" class="w-100 fs-4 p-2" (click)="listenWord(words[index])">
            <i class="fas fa-volume-up"></i>&nbsp;Слушни
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div class="drop-holder mt-3">
  <div *ngFor="let item of answers; let index = index" [class.wrong]="isWrong">
    <mat-card *ngIf="!item" class="w-100 mat-elevation-z8">
      <mat-card-content></mat-card-content>
      <mat-card-actions></mat-card-actions>
    </mat-card>

    <mat-card class="w-100 mat-elevation-z8" [class.vowel]="item.IsVowel" [class.consonant]="!item.IsVowel" *ngIf="item" [ngClass]="{'border border-success' : isCorrect}">
      <mat-card-content (click)="removeLetter(index)" class="remove-cursor">
        <div class="letter pt-1">
          <span class="mr-2">{{ item.Letter }}</span>
          <span class="mr-2">{{ item.Letter | lowercase }}</span>
        </div>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-mini-fab color="accent" class="mt-1" (click)="listenLetter(item.Letter)">
          <i class="fas fa-volume-up"></i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<hr />

<div class="letters-holder">
  <div *ngFor="let item of wordLetters; let index = index;">
    <mat-card class="w-100 mat-elevation-z8" [class.vowel]="item.IsVowel" [class.consonant]="!item.IsVowel" [class.used]="item.isDisabled" style="cursor: pointer;">
      <mat-card-content (click)="addLetter(index)">
        <div class="letter pt-1">
          <span class="mr-2">{{ item.Letter }}</span>
          <span class="mr-2">{{ item.Letter | lowercase }}</span>
        </div>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-mini-fab color="accent" class="mt-1" (click)="listenLetter(item.Letter)">
          <i class="fas fa-volume-up"></i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="options-holder mt-5">
  <button mat-raised-button color="accent" class="fs-4 p-2" (click)="showLetter()" [disabled]="isCorrect || areAllDisabled()">
    Помош&nbsp;<i class="fas fa-question"></i>
  </button>
  <button mat-raised-button color="accent" class="fs-4 p-2" (click)="next()" [hidden]="hideNext" [disabled]="!isCorrect">
    Следно&nbsp;<i class="fas fa-arrow-right"></i>
  </button>
  <button [hidden]="!hideNext" mat-raised-button color="accent" (click)="finish()" [disabled]="!isCorrect">
    Заврши&nbsp;<i class="fas fa-check"></i>
  </button>
</div>

<congratulations *ngIf="showSuccess"></congratulations>
